{% extends "base.html" %}
{% block content %}

<div class="container my-3">
    <div class="health_title">
        <strong>홈트레이닝</strong>
        <p>운동을 해봐요</p>
    </div>

    <table class="table">

        <div class="health_wrapH">
            <div class="health_list">
                <div class="top">
                    <div class="title">운동영상</div>
                </div>
                <p></p>
                <div>
                    <div class="number">1</div>
                    <div class="title">
                        <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/eh5SNeexa40?si=x3hH6Np1SQXOuJSM"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div>
                    <div class="number">2</div>
                    <div class="title">
                        <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/HMEsJzaMdPE?si=b-r4IM9s9qO00giq"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div>
                    <div class="number">3</div>
                    <div class="title">
                        <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/Ki-zE6-50K0?si=vzqmJGV2hb2hjByE"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div>
                    <div class="number">4</div>
                    <div class="title">
                        <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/L30gZ3ODdqM?si=SFHCQd0nV0-rUtcF"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="health_page">
                <a href="#" class="bt first">
                    << </a>
                <a href="#" class="bt prev">
                    < </a>
                <a href="#" class="num on">1</a>
                <a href="#" class="bt next">></a>
                <a href="#" class="bt last">>></a>
            </div>
        </div>
    </table>

</div>

{% endblock %}