.health_wrapH {
    width: 1000px;
    margin: 100px auto;
}

.health_title {
    margin-bottom: 30px;
}

.health_title strong {
    font-size: 3rem;
    color: #000000;
}

.health_title p {
    margin-top: 5px;
    font-size: 1.4rem;
    color: #000000;
}

/*밑부분*/

.bt_wrapM {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrapM a {
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrapM a:first-child {
    margin-left: 0;
}

.bt_wrapM a.on {
    background: #ffffff;
    color: #fff;
}

