.game_wrapG {
    width: 1000px;
    margin: 100px auto;
}

.game_title {
    margin-bottom: 30px;
}

.game_title strong {
    font-size: 3rem;
    color: #000000;
}

.game_title p {
    margin-top: 5px;
    font-size: 1.4rem;
    color: #000000;
}

.search-form, .rows-form {
    margin-bottom: 40px;
}

.search-form input[type="text"] {
    width: calc(100% - 100px);
    padding: 8px;
    font-size: 16px;
}

.search-form button {
    padding: 8px 16px;
    font-size: 16px;
    color: #000000;
}

.rows-form select {
    padding: 8px;
    font-size: 16px;
    color: #000000;
}

.rows-form p {
    margin: 0;
    display: flex;
    align-items: center;
    color: #000000;
}

.rows-form p select {
    margin-left: 10px;
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 0px;
    text-align: left;
}

th {
    background-color: #000000;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination a, .pagination strong {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #000000;
    color: #333;
}

.pagination strong {
    background-color: #000000;
}

.pagination a:hover {
    background-color: #000000;
}

.no-results {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
}
